.LoginContainer { 
 width: 100%;
 max-width: 1120px;
 height: 100vh;
 margin: 0 auto;
 
 display: flex;
 align-items: center;
 justify-content: space-between;


}

.LoginContainer section {
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
}

.Form { 
margin-top: 100px;
}

.LoginContainer section form h1 { 
    font-size: 32px; 
    margin-bottom: 32px;
    font: 400;
    justify-content: space-between;
}
.LoginContainer section form a { 
 display: flex;
 align-items: center ;
 margin-top: 40px;
 color: gray;
 font-size: 18px;
 text-decoration: none;
 font-weight: 500;
 transition: opacity 0.2s;

}

.LoginContainer section form a svg { 
    margin-right: 8px;
}
.LoginContainer section form a:hover { 
    opacity: 0.8;
}